<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <title> Figuras Geometricas </title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/CSS/style-about.css">
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="main">
        <div class="card">
            <div class="imagen">
                <img src="/img/Icono-Perfil.jpg" alt="">
            </div>
            <p class="p-descrition"> Hola, este es un pequeño proyecto que dideñe, si quisieras una pagina web con conocimientos altos en Fronted y basicoos en el backend puedes contactarme si quieres y te dare detalles </p>
            <div class="sociales">
                <%- include('partials/social')%>
            </div>
            <a href="https://github.com/Richi-Mi" class="link"> Send a Message </a>
        </div>
    </main>
    <%- include('partials/footer.ejs')%>
</body>
</html>