<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Figuras Geometricas </title>
    <link rel="stylesheet" href="/CSS/style-nav.css">
</head>
<body>
    <nav class="nav">
        <div class="sections">
            <a href="/"> Figuras Geometricas </a>
        </div>
        <!-- Crear Paginas y conectarlas -->
        <div class="sections">
            <a href="/Figuras"> Figuras </a>
            <a href="/Areas-y-perimetros"> Areas y Perimetros </a>
            <a href="/contact"> Contacto </a>
            <a href="/about"> Acerca De </a>
        </div>
    </nav>
</body>
</html>