<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Figuras Geometricas </title>
    <link rel="stylesheet" href="/CSS/style-nav.css">
</head>
<body>
    <nav class="nav">
        <div class="sections">
            <a href="/"> Figuras Geometricas </a>
        </div>
        <div class="sections">
            <a href="/Figuras"> Figuras </a>
            <a href="/Areas-y-perimetros"> Areas y Perimetros </a>
            <a href="/contact"> Contacto </a>
            <a href="/about"> Acerca De </a>
        </div>
    </nav>
    <main class="main">
        <h1 class="title"> Figuras Geometricas y sus nombres </h1>
        <div class="container-grid">
            <div class="figura">
                <div class="square"></div>
            </div>
            <div class="figura">
                <div class="triangle"></div>
            </div>
            <div class="figura">
                <div class="rombo"></div>
            </div>
            <div class="figura">
                <div class="rectangle"></div>
            </div>
            <div class="figura">
                <div class="circle"></div>
            </div>
        </div>
        <h2 class="title"> Felicidades lo Completaste </h2>
        <a href="/Areas-y-perimetros"> Siguiente Leccion </a>
    </main>
    <footer class="footer">
        <p class="p-footer">&copy; Copyright 2020 - Richi-Mi </p>
    </footer>
</body>
</html>