<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head')%>
    <title> Figuras Geometricas </title>
</head>

<body>
    <%- include('partials/navigation') %>
    <main class="main">
        <h1 class="title"> Figuras Geometricas y sus nombres </h1>
        <div class="container-grid">
            <div class="figura">
                <div class="square"></div>
            </div>
            <div class="figura">
                <div class="triangle"></div>
            </div>
            <div class="figura">
                <div class="rombo"></div>
            </div>
            <div class="figura">
                <div class="rectangle"></div>
            </div>
            <div class="figura">
                <div class="circle"></div>
            </div>
        </div>
        <h2 class="title"> Felicidades lo Completaste </h2>
        <a href="/Areas-y-perimetros"> Siguiente Leccion </a>
    </main>
    <%- include('partials/footer')%>
</body>

</html>