<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/CSS/style.css">
    <title> Home </title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="main">
        <div class="banner">
            <button class="btn-banner" id="btn-left"><i class="fas fa-arrow-left"></i></button>
            <div class="content-banner">
                <h2 class="title banner"> Aprende de Figuras Geometricas</h2>
                <p class="p-banner"> Este boton lo enviara a la pagina web de Figuras para empezar su recorrido </p>
                <button class="btn-comenzar"> Comenzar </button>
                <div class="circles">
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                </div>
            </div>
            <div class="img-banner" id="banner">
                <img src="/img/math-banner1.jpg" class="img" alt="banner">
                <img src="/img/math-banner2.jpg" class="img" alt="banner">
                <img src="/img/math-banner3.jpg" class="img" alt="banner">
            </div>
            <button class="btn-banner" id="btn-right"><i class="fas fa-arrow-right"></i></button>
        </div>
        <div class="container-grid">
            <div class="instrucions">
                <h3 class="title instruccions"> Instruccions </h3>
                <ul class="list-instruccions">
                    <li> Usa la barra de Navegacion para avanzar </li>
                    <li> En cada modulo habra un boton que te dira a donde ir </li>
                    <li> Disfruta el programa y sigueme en mis redes sociales </li>
                </ul>
            </div>
            <div class="definicion">
                <h3 class="title def"> ¿Que son?</h3>
                <p class="p def">
                    Son representaciones que se hacen mediante un conjunto de puntos, tales como las líneas, superficies y cuerpos, con determinada, forma, tamaño y posición.
                    A excepción del punto, el cual representa al conjunto unitario, todas figuras geométricas se distinguen entre sí por su forma y tamaño. Un punto queda determinado por su posición en el espacio.
                </p>
                <!-- Agragar link de Wikipedia -->
                <a href="#"> Mas Informacion </a>
            </div>
            <div class="redes-sociales">
                <h3 class="title redes"> Redes Sociales </h3>
                <%- include('partials/social')%>
            </div>
        </div>
        <section class="section">
            <h3 class="title section"> Empieza a Aprender </h3>
            <ul class="list-section">
                <li> 
                    <a href="/Figuras"> Saber Figuras Geometricas Basicas </a>
                </li>
                <li>
                    <a href="/Areas-y-perimetros"> Saber como sacar el Area y Perimetro de Cada una </a>
                </li>
            </ul>
        </section>
    </main>
    <%- include('partials/footer')%>
    <script src="/JS/banner.js"></script>
</body>
</html>