<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head')%>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/SCSS/style-index.css">
    <title> Home </title>
</head>

<body>
    <%- include('partials/navigation') %>
    <main class="main">
        <div class="banner">
            <div class="content-banner">
                <h2 class="title banner"> Aprende de Figuras Geometricas</h2>
                <p class="p-banner"> Este boton lo enviara a la pagina web de Figuras para empezar su recorrido </p>
                <a class="btn-comenzar" href="/Figuras"> Comenzar </a>
            </div>
            <img src="/img/math-banner3.jpg" class="img" alt="banner">
        </div>
        <div class="container-grid">
            <div class="instrucions">
                <h3 class="title instruccions"> Instruccions </h3>
                <ul class="list-instruccions">
                    <li> Usa la barra de Navegacion para avanzar </li>
                    <li> En cada modulo habra un boton que te dira a donde ir </li>
                    <li> Disfruta el programa y sigueme en mis redes sociales </li>
                </ul>
            </div>
            <div class="definicion">
                <h3 class="title def"> ¿Que son?</h3>
                <p class="p def">
                    Son representaciones que se hacen mediante un conjunto de puntos, tales como las líneas, superficies
                    y cuerpos, con determinada, forma, tamaño y posición.
                    A excepción del punto, el cual representa al conjunto unitario, todas figuras geométricas se
                    distinguen entre sí por su forma y tamaño. Un punto queda determinado por su posición en el espacio.
                </p>
                <a
                    href="https://es.wikipedia.org/wiki/Figura_geom%C3%A9trica#:~:text=De%20Wikipedia%2C%20la%20enciclopedia%20libre.%20Ir%20a%20la,las%20figuras%20de%20pan%20cereal%20y%20m%C3%A1s%20cosas%29.">
                    Mas Informacion &nbsp; <i class="fas fa-info-circle"></i></a>
            </div>
            <div class="redes-sociales">
                <h3 class="title redes"> Redes Sociales </h3>
                <%- include('partials/social')%>
            </div>
        </div>
        <div class="boton">
            <a class="btn-nxt" href="/Figuras"> Comenzar <i class="fas fa-chalkboard"></i></a>
        </div>
    </main>
    <%- include('partials/footer')%>
    <script src="/JS/banner.js"></script>
</body>

</html>