<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
    <link rel="stylesheet" href="/CSS/style-nav.css">
</head>
<body>
    <nav class="nav">
        <div class="sections">
            <a href="/"> Figuras Geometricas </a>
        </div>
        <!-- Crear Paginas y conectarlas -->
        <div class="sections">
            <a href="/Figuras"> Figuras </a>
            <a href="/Areas-y-perimetros"> Areas y Perimetros </a>
            <a href="/#contact"> Contacto </a>
            <a href="/about"> Acerca De </a>
        </div>
    </nav>
    <main class="main">
        <div class="banner">
            <h2 class="title banner"> Aprende de Figuras Geometricas</h2>
            <button class="button"> Comenzar </button>
            <p class="p-banner"> Este boton lo enviara a la pagina web de Figuras para empezar su recorrido </p>
        </div>
        <div class="container-grid">
            <div class="instrucions">
                <h3 class="title instruccions"> Instruccions </h3>
                <ul class="list-instruccions">
                    <li> Usa la barra de Navegacion para avanzar </li>
                    <li> En cada modulo habra un boton que te dira a donde ir </li>
                    <li> Disfruta el programa y sigueme en mis redes sociales </li>
                </ul>
            </div>
            <div class="definicion">
                <h3 class="title def"> ¿Que son?</h3>
                <p class="p def">
                    Son representaciones que se hacen mediante un conjunto de puntos, tales como las líneas, superficies y cuerpos, con determinada, forma, tamaño y posición.
                    A excepción del punto, el cual representa al conjunto unitario, todas figuras geométricas se distinguen entre sí por su forma y tamaño. Un punto queda determinado por su posición en el espacio.
                </p>
                <!-- Agragar link de Wikipedia -->
                <a href="#"> Mas Informacion </a>
            </div>
            <div class="redes-sociales">
                <h3 class="title redes"> Redes Sociales </h3>
                <!-- Agregar Redes Sociales  -->
                <ul class="list redes-sociales" id="contact">
                    <li><a href=""> Facebook</a></li>
                    <li><a href=""> GitHub </a></li>
                    <li><a href=""> LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <section class="section">
            <h3 class="title section"> Empieza a Aprender </h3>
            <ul class="list-section">
                <li> 
                    <a href="/Figuras"> Saber Figuras Geometricas Basicas </a>
                </li>
                <li>
                    <a href="/Areas-y-perimetros"> Saber como sacar el Area y Perimetro de Cada una </a>
                </li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <p class="p-footer">&copy; Copyright 2020 - Richi-Mi </p>
    </footer>
</body>
</html>