<nav class="nav">
    <div class="sections">
        <a href="/"><i class="fas fa-cube"></i><span class="delete">  Figuras Geometricas  </span></a>
    </div>
    <div class="sections hidden" id="section">
        <a href="/Figuras"><i class="fas fa-square"></i> Figuras </a>
        <a href="/Areas-y-perimetros"><i class="fas fa-plus"></i> Areas  </a>
        <a href="#" id="contact"><i class="far fa-id-badge"></i> Contacto </a>
        <a href="/about"><i class="far fa-question-circle"></i> Acerca De </a>
    </div>
    <button class="button" id="btn-abrir"><i class="fas fa-bars"></i></button>
</nav>